.container {
    display: flex;
    gap: 64px;
}

.logo_img {
    width: 165px;
    height: 46px;

}

.search {
    display: flex;
    align-items: center;
    gap: 46px;
}

.container2 {
    display: flex;
    padding-top: 9px;
    padding-bottom: 9px;
    text-align: left;
    padding-left: 75px;
    gap: 20px;
    margin-top: 20px;
    max-width: 1440px;
    width: 100%;
    height: 48px;
    border-bottom: 2px solid rgb(240, 240, 240);
    border-top: 2px solid rgb(240, 240, 240);
    background-color: #F2F2F2;
}