.container {
    width: 996px;
    height: auto;
    padding-top: 32px;
    padding-bottom: 78px;
    padding-left: 32px;
    padding-right: 30px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.06);
    background-color: rgb(255, 255, 255);
    margin-bottom: 318px;
}

.payme__img {
    width: 60px;
    height: 18px;
}

.click__img {
    width: 62px;
    height: 24px;
}

.title {
    color: rgb(17, 20, 45);
    font-family: Cairo;
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 31px;
}

.balans {
    width: 906px;
    padding-left: 26px;
    padding-bottom: 22px;
    padding-top: 16px;
    border-radius: 20px;
    background-color: rgb(63, 81, 181);
    margin-bottom: 36px;
}

.balans__title {
    color: rgb(255, 255, 255);
    font-family: Cairo;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 12px;
}

.balans__price {
    color: rgb(255, 255, 255);
    font-family: Cairo;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.payme {
    width: 906px;
    padding-top: 22px;
    padding-bottom: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 20px;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.03);
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.click {
    width: 906px;
    padding-top: 22px;
    padding-bottom: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 20px;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.03);
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
}